.CSE{
    color:blueviolet;
}
.ECE{
    color:rgb(136, 42, 165);
}
.Mech{
    color:rgb(83, 187, 31);
}
h2{
    color:green;
}
.demo1{
    color:gray;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: yellow;
    text-align: center;
}
.demo2{
    color:rgb(109, 73, 76);
    border: 5px solid black;
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    padding-top: 26px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;

}